In [9]:
import os
import numpy as np
import pandas as pd

In [12]:
master_df = pd.DataFrame()

for year in range(2007, 2018):
    year = str(year)
    print(year)
    df_path = os.path.join('db', 'states_comparison.csv')
    df_year = pd.read_csv(df_path)
    df_pruned = df_year['Year']
    master_df = pd.concat([master_df, df_pruned], ignore_index=True)
output_path = os.path.join('db', 'year.csv')
master_df.to_csv(output_path)

2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017

In [2]:
import os
import pandas as pd

input_path = os.path.join('db','consumed_energy.csv')
renewed_df = pd.read_csv(input_path)
renewed_df.head()

   Unnamed: 0       State  Year       Data
0           0      Alaska  1960    61433.0
1           1     Alabama  1960   866594.0
2           2    Arkansas  1960   425974.0
3           3     Arizona  1960   282993.0
4           4  California  1960  3449919.0

In [4]:
state_dict = dict()

for i, row in renewed_df.iterrows():
    state_dict[row['State']] = row['Data']
    
state_dict

{'Alaska': 608135.0,
 'Alabama': 1900936.0,
 'Arkansas': 1057643.0,
 'Arizona': 1475387.0,
 'California': 7881348.0,
 'Colorado': 1462864.0,
 'Connecticut': 726389.0,
 'District of Columbia': 167625.0,
 'Delaware': 269779.0,
 'Florida': 4208521.0,
 'Georgia': 2802165.0,
 'Hawaii': 283414.0,
 'Iowa': 1558979.0,
 'Idaho': 553888.0,
 'Illinois': 3871546.0,
 'Indiana': 2700478.0,
 'Kansas': 1073232.0,
 'Kentucky': 1658207.0,
 'Louisiana': 4481816.0,
 'Massachusetts': 1424156.0,
 'Maryland': 1314739.0,
 'Maine': 392002.0,
 'Michigan': 2774512.0,
 'Minnesota': 1832262.0,
 'Missouri': 1726080.0,
 'Mississippi': 1176354.0,
 'Montana': 420636.0,
 'North Carolina': 2503112.0,
 'North Dakota': 631144.0,
 'Nebraska': 876032.0,
 'New Hampshire': 317495.0,
 'New Jersey': 2134878.0,
 'New Mexico': 683442.0,
 'Nevada': 707205.0,
 'New York': 3684137.0,
 'Ohio': 3643714.0,
 'Oklahoma': 1643837.0,
 'Oregon': 1032245.0,
 'Pennsylvania': 3807664.0,
 'Rhode Island': 183872.0,
 'South Carolina': 1643615.0,
 'South Dakota': 384857.0,
 'Tennessee': 2166502.0,
 'Texas': 13365864.0,
 'Utah': 828671.0,
 'Virginia': 2302571.0,
 'Vermont': 134794.0,
 'Washington': 2096886.0,
 'Wisconsin': 1805766.0,
 'West Virginia': 756420.0,
 'Wyoming': 512235.0}

In [5]:
import numpy as np
a = np.array([[1], [2], [3], [4]])
a.shape

(4, 1)

In [6]:
a.reshape((1, 4))

array([[1, 2, 3, 4]])

In [7]:
b = [1]
b.append(2)
b

[1, 2]

In [9]:
a = np.array([100, 80, 52])

In [10]:
a.dtype

dtype('int64')

In [11]:
b = [str(x) for x in a]
b

['100', '80', '52']